
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(21,32,43);
}

main .titleContainer {
    display: flex;
    flex-flow: row nowrap;
    gap: 50px;
    align-items: center;
    background-color: rgb(21,32,43);
    width: 100%;
    padding: 30px 60px;
    margin-top: 60px;
}

.titleContainer .title{
    font-size: 27px;
    color: white;
}

.titleContainer .lnk{
    color: rgb(0, 201, 117);
    text-decoration: none;
}

main .gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
}

.gallery .imgCard {
    background-color: rgb(44, 57, 70);

    border-radius: 5px;
    max-width: 600px;
    max-height: 700px;
}

.gallery .imgCard a {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

.gallery .imgCard a img{
    max-width: 200px;
    max-height: 300px;
}

main form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 400px;
    gap: 20px;
    margin: 160px 0 0 60px;
    color: white;
}

main form div {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

main form label {
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

main form input {
    padding: 7px;
    font-size: 17px;
    background-color: transparent;
    border: 1px solid rgb(0, 201, 117);
    color: white;
    outline: none;
}

main form button {
    background-color: rgb(0, 201, 117);
    color: white;
    padding: 7px;
    cursor: pointer;
    font-size: 17px;
    border: none;
}

@media (max-width: 600px) {
    header{
        padding: 10px 20px;
    }
    header .container .logo {
        display: none;
    }
    header .container #menu {
        width: 250px;
    }
    header .container div {
        gap: 20px;
    }

    main .titleContainer {
        padding: 30px 40px;
    }
    main form {
        margin: 160px 0 0 40px;
        width: 70%;
    }
  }